{% extends 'registration/registerbase.html' %}
{% block content %}
<div class="mb-5">
    <h3 class="h4 font-weight-bold text-theme">Password Reset</h3>
</div>
<p class="text-muted mt-2 mb-5">Get back access to your account with ease.</p>
<form method="POST" novalidate>
    {% csrf_token %}
    <div class="form-group">
        <label for="InputEmail">Email Address</label>
        <input type="email" class="form-control" id="InputEmail" name="email">
    </div>
    <button type="submit" class="btn btn-theme">Submit</button>
    <a href="{% url 'login' %}" class="forgot-link float-right text-primary">Go Back</a>
</form>                     
{% endblock %}