{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <title>Password Reset Form</title>
</head>
<body>
    <div class="split-screen">
        <div class="left">
            <section class="copy">
                <h1 style="color: black;">Medifix</h1>
            </section>
        </div>
        <div class="right">
            <h2>Change password</h2>
            <p style="color:green;">Password changed with success!</p>
        </div>
    </div>
    <script>
        setTimeout("location.href = '{% url 'home' %}';", 1000);
    </script>
</body>
</html>
