{% extends 'base.html' %}
{% load static %}
{% block pagetitle %}Medifix - Doctors{% endblock %}
{% block content %}
<h2>List of Doctors</h2>
<div class="pt-3"></div>
<a href="{% url 'create_doctor' %}" class="btn btn-primary">Add Doctor</a>
<div class="pb-3"></div>
<table class="table table-hover table-primary table-striped">
    <thead>
        <tr>
            <th>Doctor Name</th>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
        {% for doctor in doctors %}
        <tr>
            <td>{{ doctor.doctor_name }}</td>
            <td>{{ doctor.doctor_title }}</td>
        </tr>
        {% empty %}
        <tr>
            <td style="color: red;" colspan="2" class="text-center">No data Avaliable</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}