{% extends 'base.html' %}
{% load static %}
{% block pagetitle %}Medifix - Home{% endblock %}
{% block content %}
<div class="card">
    <div class="card-body">
        Your Camps <span><a href="{% url 'create_camp' %}">Add Camp</a></span>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Camp Name</th>
            <th>Location</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>View Detail</th>
        </tr>
    </thead>
    <tbody>
        {% for camp in user_camps %}
        <tr>
            <td>{{ camp.camp_name }}</td>
            <td>{{ camp.location }}</td>
            <td>{{ camp.start_date_time }}</td>
            <td>{{ camp.end_date_time }}</td>
            <td>
                <a href="{% url 'camp_details' camp.id %}" class="btn btn-primary">view</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td style="color: red;" colspan="5" class="text-center">No data Avaliable</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}